@charset "utf-8";

#wrap{
    width:100%;
}

header, main, footer{
    position: relative;
    width:100%;
}

#headerIn{
    position: relative;
    width:100%;
    height:80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #fff; 
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.navi, .search{
    position: relative;
    width:30px;
    height:30px;
}

.navi{
    left:10px;
}

.search{
    right:10px;
}

.navi>a, .search>a{
    display:block;
    width:30px;
    height:30px;
}

.navi span, .search span{
    display:block;
    width:30px;
    height:30px;
    margin:0 auto;
}

.fa-bars, .fa-search{
    font-size:30px;
}

.logo{
    width:220px;
    height:50px;
}

.logo>a{
    display:block;
    width:220px;
    height:50px;
    text-align: center;
    color:#000099;
}

#gnb{
    position: fixed;
    left:-100%;
    width:100%;
    height:100%;
    display:none;
    background:#fff;
    z-index:99999;
}

#gnb>ul>li>a{
    position: relative;
    display:block;
    font-size:16px;
    font-family: 나눔고딕;
    font-weight: 600;
   /*  text-indent: 10px; */
    padding:10px 0;
    text-align: center;
}

#gnb>ul>li>a:after{
    content:"▼";
    display:block;
    width:20px;
    height:20px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:10px;
    color:#ccc;
}

.depth2{
    display:none;
}

.depth2 a{
    display:block;
    padding:8px;
    font-size:14px;
    text-align: center;
    font-family: 나눔고딕;
    color:#666;
    /* text-indent: 20px; */
}

#SearchBar{
    position: relative;
    width:100%;
    height:50px;
    display:none;
}

#sch{
    position: relative;
    display:block;
    width:80%;
    height:40px;
    margin:0 auto;
    border:1px solid #fff;
    text-indent: 10px;
    top:5px;
    background: rgba(255, 255, 255, 0.836);
    color: #fff;
}

/* 메인CSS */

#mainslider img{
    width:100%;
    height:auto;
}



#gall1{
    width:100%;
    height:auto;
    margin-top:20px; 
}
.best, .review, .top5{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding:20px;
}

#gall1 li{
    width:90%;
    height:auto;
    margin:0 auto 20px auto;
}

#gall1 a{
    display:block;
    width:100%;
    height:auto;
}

#gall1 img{
    width:100%;
    height:auto;
}

.tit{
    display:block;
    font-size:16px;
    text-indent: 10px;
    padding:5px 0;
}

.exp{
    display:block;
    font-size:14px;
    text-indent: 20px;
    padding:5px 0;
}

.btn{
    position: relative;
    width:100px;
    margin-left:auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.btn>span{
    display:block;
    cursor: pointer;
    padding:5px 5px;
}

.good{
    color: olivedrab;
}

.good.red{
    color:red;
}

#show2, #show3, #show4, #show5{
    position: relative;
    display:none;
}

#choice, .showpic{
    width:90%;
    height:auto;
    margin:20px auto 0 auto;
}

select{
    display:block;
    width:100%;
    height:30px;
    border:1px solid #ccc;
}

.showpic img{
    display:block;
    width:100%;
    height:auto;
}

.choice_text{
    padding:10px;
    font-size:16px;
    font-weight: 600;
    color:#333;
}
.exps{
    padding:10px;
    font-size:14px;
    color:#999;
}
#sumImg{
    width:90%;
    height:auto;
    margin:40px auto 0 auto;
    text-indent: 10px;
    
}

.sum1, .sum2, .sum3{
    width:100%;
    height:252px;
    margin-bottom:30px;
    overflow: hidden;
    border:1px solid #ccc;
}

.sum1:after{
    content:"";
    display:block;
    clear:both;
}

.sum1_img, .sum2_img, .sum3_img{
    width:30%;
    height:252px;
    background: #ccc;
    float:left;
}

.sum1_img{
    background: url("../images/the.jpg") no-repeat center / cover;
}
.sum2_img{
    background: url("../images/others.jpg") no-repeat center / cover;
}
.sum3_img{
    background: url("../images/sara.jpg") no-repeat center / cover;
}

.sum1_exp1, .sum2_exp2, .sum3_exp3{
    width:64%;
    height:252px;
    float:right;
    text-align: justify;
    overflow-y:auto;
    padding-right:2%;
}

.s_tit{
    display:block;
    width:100%;
    height:auto;
    text-indent: 0px;
    font-size:18px;
    padding:5px 0;
    font-weight: 600;
}


footer{
    width:100%;
    height:auto;
    background: black;
}

#fnav>ul>li>a{
    position: relative;
    display:block;
    font-size:16px;
    font-weight: 600;
    color:#fff;
    padding:5px 0;
    text-indent: 10px;
}

#fnav>ul>li>a:after{
    position: absolute;
    content:"▼";
    display:block;
    width:30px;
    height:30px;
    right:10px;
    top:60%;
    transform: translateY(-50%);
    font-size:14px;
}

.fdepth2{display:none;}

.fdepth2 li{
    background: rgb(26, 26, 26);
    padding:10px 0;
}

.fdepth2 address, .knum, .cpy{
    display:block;
    width:200px;
    font-style: normal;
    font-size:14px;
    color:#fff;
    padding:5px 0;
    margin-left:20px;
}

.flogo{
    width:100%;
    height:50px;
    background: black;
}

.flogo>a{
    display:block;
    position: relative;
    width:100px;
    height:26px;
    color:#fff;
    font-family: 나눔고딕;
    font-weight: 600;
    background:#000;
    text-align: center;
    margin:0 auto;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.conts{
    display:none;
}

